@page
@model todolist.Pages.DetailModel
@{
    ViewData["title"] = "detail";
}

<div class="container">

    <td><a class="btn btn-outline-secondary" asp-area="" asp-page="/index">back</a></td>

    <div class="text-center mt-3">
        <h5>Task detail</h5>

         <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                       
                    </tr>
                </tbody>

            </table>
        
    </div>

</div>