@page
@using todolist.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Todo List</h1>
<br>
    <div class="container mt-3">
    <div class="row">
       <div class="col-6 mt-3">
            <h5>Add a new task</h5>
                <form action="" method="post">
                    <div class="mt-3">
                    <input type="text" name="newTask" asp-for="NewTodo.title" placeholder="Title">
                    </div>
                    <div class="mt-3">
                    <textarea type="textArea" name="newTask" asp-for="NewTodo.description" placeholder="Description" cols="30" rows="10"></textarea>
                    </div>
                    <button class="btn btn-outline-primary btn-sm">save</button>
                </form>
        </div>
        <br>
        <div class="col-6 mt-3">
            <h5>Tasks list</h5>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
    @foreach (Todo todo in Model.todos)
                 {
                    <tr>
                        <td>@Html.CheckBox("NewTodo.isTaskComplete",(todo.isTaskComplete))</td>
                        @* <td><input type="checkbox" asp-for="NewTodo.isTaskComplete" class="mr-5"></td> *@
                        <td>@todo.Id</td>
                        <td>@todo.title</td>
                        <td>@(todo.isTaskComplete?"Complete":"Ongoing")</td>
                        <td><a class="btn btn-outline-info btn-sm" asp-area="" asp-page="/Detail">More info</a></td>
                    </tr>
                 }
                </tbody>
            </table>
        </div>
    </div>
 
    </div>
</div>
