@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Todo List</h1>
<br>
    <div class="container mt-3">

        <div class="row">
            <div class="col-6">
                <form action="" method="post">
                <label for="newTask"> New task : </label>
                <input type="text" name="newTask" id="">
                <button type="submit">Add</button>
                </form>
            </div>
        </div>
        <br>
        <div class="col mt-3">
            <h5>Tasks list</h5>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
    @foreach (var todo in Model.todos)
                 {
                    <tr>
                        <td>@Html.CheckBox("isTaskComplete",false)</td>
                        <td>@todo.Id</td>
                        <td>@todo.title</td>
                        <td>@(todo.isTaskComplete?"Complete":"Ongoing")</td>
                        <td> <button type="submit" class="btn btn-outline-danger btn-sm">delete</button></td>
                    </tr>
                 }
                </tbody>

            </table>
        </div>
    </div>
</div>
